.style{
    font: 100;;
}

// CSS = Cascading Style Sheets

// CSS는 실제 프로그래밍 언어 혹은 마크업 언어가 아니다



// html에 css 적용하기
// <link href="styles/style.css" rel="stylesheet" type="text/css">
// 전체 구조 : rule set (줄여서 rule)
//  선택자 selector : rule의 맨 앞에 있는 HTML 요소 이름 (꾸밀 요소를 선택)
//  선언 : 단일 규칙, 꾸미길 원하는 요소의 속성 명시시
//  속성 값 : 속성의 오른 쪽, 혹은 콜론 뒤에 가능한 많은 결과 중 하나를 선택택
//  각각의 rule은 반드시 {}로 감싸져야 함
//  각각의 선언 안에 각 속성을 해당 값과 구분하기 위해 콜론 : 사용
//  각각의 rule 안에 각 선언을 그 다음 선언으로부터 구분하기 위해 세미콜론 ; 사용
//  한 번에 여러 타입을 선택하고 하나의 rule을 적용 가능 (선택자는 콤마로 구분)

//  선택자의 종류
    // 요소 선택자 : 특정 타입의 모든 HTML 요소를 선택 (태그 or 타입 선택자)
    // 아이디 선택자 :  특정 아이디를 가진 페이지의 요소 (주어진 HTML페이지에서 아이디당 하나의 요소만 허용)
    // 클래스 선택자 : 특정 클래스를 가진 페이지의 요소 (한 페이지에 클래스가 여러 번 나타날 수 있음)
    // 속성 선택자 : 특정 속성을 갖는 페이지의 요소
    // 수도(Pseudo) 클래스 선택자 : 특정 요소 중 특정 상태에 있을 때만

// 글꼴과 문자
    // <link href='글꼴 결과물 링크' rel='stylesheet' type='text/css'>
    // font-family, font-size 코드를 작성